<%= form_with scope: :listings, url: listings_path, local: true do |form| %>

 
 
  <h1>Add your listing:</h1>

  
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :property_type %><br>
      <%= form.select :property_type, ["Entire place", "Private room", "Shared room"] %>
      </p>
      <p>
        <%= form.label :description %><br>
      <%= form.text_field :description %>
      </p>
        <%= form.label :maximum_guests %><br>
        <%= form.select :max_guest_number, (0..20) %>
      </p>
      <%= form.label :select_country %><br>
     <%= form.country_select :country %>
      </p>
      <p>
        <%= form.label :city %><br> 
        <%= form.text_field :city %>
      </p>
      <p>
          <%= form.label :price_per_night %><br>
        <%= form.number_field :price %>
      </p>
      <p>
      <%= form.file_field :avatars, multiple: true %>
      </p>
      <p>
        <%= form.submit class: 'btn btn-success' %><br>
      </p>

     
  
<% end %>