<h3>Listings</h3>



  <% @listings.each do |listing| %>
<!-- BOOTSTRAP CARD -->
  <div class="card-group">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://placehold.it/1800x1800" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= listing.title %></h5>
    <p class="card-text"><%= "#{listing.city}, #{listing.country} "%></p>
    <p class="card-text"><%= listing.description %></p>
    <p class="card-text"><%= "Per Night: $ #{listing.price} "%></p>
    <%= link_to "View Listing", listing_path(listing), class: "btn btn-primary" %>

  </div></br>
<% end %></br>

<%= will_paginate @listings %>
