<% if current_user == @listing.user %>
   <p>Your property listing:</p>
  <% else %>
<% end %>

<tr>
      <td>Description: <%= @listing.description %></td></br>
      <td>Capacity: <%= @listing.max_guest_number %> pax</td></br>
      <td>Location: <%="#{@listing.city}, #{@listing.country} "%></td></br>


    <% if current_user != @listing.user %>
      <td>Hosted By: <%= @listing.user.first_name %></td></br></br>
    <% else %>
<% end %>

      <td>Price Per Night: $<%= @listing.price %></td></br></br>
</tr>
      


<% if @listing.user_id == current_user.id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> 
<%= link_to 'Back', listings_path %>
<% else %>
<%= link_to 'Back', listings_path %>
<% end %>


