<div class="first_name-field">
<%= f.label :first_name %>
<%= f.text_field :first_name, type: 'first name' %>
</div>

<div class="last_name-field">
<%= f.label :last_name %>
<%= f.text_field :last_name, type: 'last name' %>
</div>

<div class="email-text-field">
  <%= f.label :email %>
  <%= f.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>


<div class="birth_date-field">
<%= f.label :birth_date %>
<%= f.date_field :user, :birth_date %>
</div>

<div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
</div>