<h3><%=" Hey! Excited to stay at: #{@reservation.listing.title}? Here are all your booking details. "%></h3></br>

 <tr>
      <td>From: <%= @reservation.check_in  %></td></br>
      <td>Dates: <%= @reservation.check_out  %></td></br>
      <td>Capacity: <%= @reservation.listing.max_guest_number %> pax</td></br>
      <td>Price Per Night: $<%= @reservation.listing.price %></td></br>
      <td>Contry: <%= @reservation.listing.country %></td></br>
      <td>City: <%= @reservation.listing.city %></td></br>
 </tr></br>

 <%= link_to ("View Property Details"), listing_path(@reservation.listing) %></br>
 <%= link_to ("Delete Booking"), destroy_reservation_path, method: :delete %>
